.button {
  padding: 10px;
  border: 1px solid var(--semi-transparent-black);
  border-radius: 10px;
  background-color: var(--white);
  transition:
    transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 2px var(--semi-transparent-black);
  }

  &:active {
    transform: translateY(0px);
    background-color: var(--silver);
    box-shadow: 2px 2px 2px var(--semi-transparent-black);
  }
}

.active {
  padding: 10px;
  background-color: var(--silver);

  transition:
    transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}
