{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "tabWidth": 2,
  "importOrder": [
    "^react$",
    "^(react-redux|redux)",
    "^react-router-dom$",
    "^[./].*\\.(png|jpg|jpeg|webp|svg|gif)$",
    "^[./].*\\.(scss|css)$",
    "^../../components/(.*)$",
    "^../../api/(.*)$",
    "^../../reducers/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
