.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--semi-transparent-dark-gray);

  .items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    width: 50%;
    border: 1px solid var(--black);
    padding: 20px;

    .button {
      position: relative;
      top: 0;
      left: 0;
      padding: 5px 10px;
      background-color: var(--blue);
      color: var(--white);
      border-radius: 5px;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: translateY(-2px);
        box-shadow: 2px 2px 2px var(--semi-transparent-black);
      }
      &:active {
        transform: translateY(0);
      }
    }

    .disabled {
      background-color: var(--dark-transparent-black);
      cursor: not-allowed;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        transform: none;
        box-shadow: none;
      }

      &:active {
        transform: none;
      }
    }

    .item {
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .redText {
      color: var(--red);
      font-family: serif;
      font-size: 15px;
      font-style: italic;
    }
  }
}
